---
import {InputFieldArgumentConfigs, InputFieldArgumentType, InputFieldConfigs, InputFieldType} from '../config/static';
interface Props {
	type: InputFieldArgumentType;
}

const {type} = Astro.props;
const config = InputFieldArgumentConfigs[type];

function getNumberOfValues(): string {
	if (config.valueLengthMin === config.valueLengthMax) {
		return config.valueLengthMin.toString();
	} else {
		return `${config.valueLengthMin} to ${config.valueLengthMax}`;
	}
}
---

<table>
    <tbody>
    <tr>
        <td>Identifier</td>
        <td><code>{config.type}</code></td>
    </tr>
    <tr>
        <td>Allows Multiple</td>
        <td><code>{config.allowMultiple ? 'true' : 'false'}</code></td>
    </tr>
    <tr>
        <td>Number of Values</td>
        <td><code>{getNumberOfValues()}</code></td>
    </tr>
    </tbody>
</table>

